html, body {
  max-width: 100%;
  overflow: hidden;
}
canvas {
        margin: auto;
        background: #ececec;
        width: 100%;
      }
      
      .btn-disabled {
        color: #fff !important;
      }
      